body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
}

span{
	font-size: 14px;
}

img{
	width: 70px;
	border-radius: 35px;
	margin: 10px 15px 0 0;
}

table {
	margin: 0;
	float: right;
}

table tr td:first-child {
	padding-right: 5px;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	color: #1A6DBB;
	transition: 0.3s;
}

::-moz-selection {
	color: white; 
	background: #1A6DBB;
}

::selection {
	color: white; 
	background: #1A6DBB;
}

.content {
	max-width: 600px;
	margin: 0 auto;
}

.intro {
	margin: 150px 0 90px 0;
	text-align: center;
}

.intro span {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 40px;
}

.intro span.highlight {
	background-color: #333;
	color: white;
}

@media (max-width: 360px) {
	.intro {
		margin: 50px 0 50px 0;
	}
	
	.intro span {
		font-size: 18px;
		line-height: 28px;
	}
	
	img{
		display: none;
	}
	
	table {
		float: none;
	}
}